header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  height: 80px;
  width: 100%;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
}

header nav {
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
  }
nav a {
  color: black;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;
}

.logo img {
  margin-right: 12px;
  width: 70px;
  height: 60px;
}

.logo span {
  color: MediumAquamarine;
}
